name: 'Terragrunt Apply'
on:
  push:
    branches:
      - master
permissions:
  contents: read
  pull-requests: write

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      directories: ${{ steps.detect_changes.outputs.directories }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Identify changed files in infra directory
        id: detect_changes
        run: |
          git fetch origin master --depth=2 || true

          # Compare previous state of master to new HEAD
          BEFORE_SHA=$(git rev-parse origin/master~1)
          AFTER_SHA=$(git rev-parse origin/master)

          CHANGED_FILES=$(git diff --name-only $BEFORE_SHA $AFTER_SHA -- 'infra/**' || true)

          if [[ -z "$CHANGED_FILES" ]]; then
            echo "No changes detected in infra directory."
            echo "directories=[]" >> $GITHUB_OUTPUT
            exit 0
          fi

          echo "Changed files: $CHANGED_FILES"

          UNIQUE_DIRS=$(echo "$CHANGED_FILES" | xargs -n1 dirname | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "directories=$UNIQUE_DIRS" >> $GITHUB_OUTPUT

  terragrunt:
    needs: changes
    name: "Terragrunt"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        directory: ${{ fromJSON(needs.changes.outputs.directories) }}
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - uses: actions/checkout@v3

      - name: Determine environment
        id: env_detect
        run: |
          ENV_NAME=$(echo "${{ matrix.directory }}" | cut -d'/' -f2)
          echo "env_name=$ENV_NAME" >> $GITHUB_OUTPUT
          echo "$ENV_NAME"
        shell: bash

      - name: Install Terragrunt
        uses: gruntwork-io/terragrunt-action@v3
        with:
           tg_version: '0.87.0'
           tofu_version: '1.10.3'

      - name: Terragrunt Init
        id: init
        env:
          GOOGLE_CREDENTIALS: ${{ secrets[format('GOOGLE_CREDENTIALS_{0}', steps.env_detect.outputs.env_name)] }}
        run: |
          git config --global url."https://oauth2:${{ secrets.MYTC }}@github.com".insteadOf https://github.com
          terragrunt init --backend-bootstrap --non-interactive
        continue-on-error: false

      - name: Terragrunt Plan
        id: plan
        env:
          GOOGLE_CREDENTIALS: ${{ secrets[format('GOOGLE_CREDENTIALS_{0}', steps.env_detect.outputs.env_name)] }}
          PROJECT_ID: ${{ secrets[format('GCP_PROJECT_ID_{0}', steps.env_detect.outputs.env_name)] }}
        run: |
          echo "Using project ID: $PROJECT_ID"
          export export TF_VAR_project=$PROJECT_ID
          terragrunt plan -no-color --non-interactive | tee plan_raw.out
          sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]//g" plan_raw.out > plan.out
          echo "stdout<<EOF" >> $GITHUB_OUTPUT
          cat plan.out >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        continue-on-error: false

      - name: Terragrunt Apply
        id: apply
        run: |
          export export TF_VAR_project=$PROJECT_ID
          terragrunt run --all --non-interactive apply
        env:
          GOOGLE_CREDENTIALS: ${{ secrets[format('GOOGLE_CREDENTIALS_{0}', steps.env_detect.outputs.env_name)] }}
          PROJECT_ID: ${{ secrets[format('GCP_PROJECT_ID_{0}', steps.env_detect.outputs.env_name)] }}
        continue-on-error: false
